.header {
  background: var(--theme-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.title {
  color: var(--white);
  margin-right: auto;
  margin-bottom: 0px;
}

.menuLink {
  margin-right: 20px;
}

.menuIcon {
  color: var(--white);
  cursor: pointer;
}

.header a {
  color: var(--white);
  text-decoration: none;
}

.header a:hover {
  color: var(--dark-gray);
}
