.container {
  background: var(--theme-color);
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
}

input {
  border: none;
}

.submitButton {
  background-color: var(--accent-color);
  color: var(--white);
  padding: 5px 10px;
}

.submitButton i {
  font-size: 2rem;
}
